///////////////////////////////////////////////////////////////
////////////////////////// FONTS //////////////////////////////
///////////////////////////////////////////////////////////////

$textFont: "Roboto", sans-serif;
$titleFont: "Shrikhand", serif;

///////////////////////////////////////////////////////////////
////////////////////////// COLORS /////////////////////////////
///////////////////////////////////////////////////////////////

$grey: rgba(53, 53, 53, 1);
// $grey2: rgba(234, 234, 234, 1);
$grey2: #f6f6f6;
$white: white;
$background: rgba(246, 246, 246, 1);
$buttonGradient: linear-gradient(to top, #9356dc -11.44%, #ff79da 123.93%);
$buttonGradienthover: linear-gradient(
  to top,
  lighten(#9356dc, 10%) -5.2%,
  #ff79da 110.74%
);
$primary: rgba(147, 86, 220, 1);
$secondary: rgba(255, 121, 218, 1);
$greyTint: rgba(126, 126, 126, 1);
$green: #99e2d0;
$greenFont: #008766;

///////////////////////////////////////////////////////////////
///////////////////////// EFFECTS /////////////////////////////
///////////////////////////////////////////////////////////////

$shadowBadge: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
$shadowInstructions: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
$shadowButton: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
$shadowCard: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);

///////////////////////////////////////////////////////////////
/////////////////////// BREAKPOINTS ///////////////////////////
///////////////////////////////////////////////////////////////

$breakpoint_tablet_M: 576px;
$breakpoint_desktop: 900px;
