@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: unset;
}

.wrapper {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  position: relative;
}

.logo {
  margin: 20px 0 10px 0;
  width: 200px;
}
.logo-small {
  width: 100px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  z-index: 2;
}

.nav {
  position: absolute;
  top: 25px;
  left: 25px;
  color: black;
}

.Like {
  position: relative;
  width: 22px;
  height: 21px;
}
.Like img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.Like > input {
  width: 0;
  height: 0;
}
.Like > input:not(:checked) + .Like-button img:first-child {
  opacity: 1;
}
.Like > input:checked + .Like-button img:nth-child(2), .Like > input:hover + .Like-button img:nth-child(2) {
  opacity: 1;
}

.Course {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Course-item {
  display: flex;
  flex-direction: row;
  transition: all 0.5s;
  position: relative;
  padding: 8px 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  justify-content: space-between;
}
.Course-item-texts {
  white-space: nowrap;
  overflow: hidden;
}
.Course-item-texts-title {
  font-weight: 500;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px 0;
}
.Course-item-texts-desc {
  font-weight: 300;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px 0;
}
.Course-item-price {
  font-weight: 700;
  font-size: 15px;
  padding: 2px;
  display: flex;
  align-items: end;
}
.Course-item-check {
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  display: flex;
  position: absolute;
  width: 60px;
  background-color: #99e2d0;
  top: 0;
  bottom: 0;
  right: -60px;
  align-items: center;
}
.Course > input {
  display: none;
}
.Course > input[type=checkbox]:checked + label > .Course-item {
  padding-right: 70px;
  transition: all 0.5s;
}
.Course > input[type=checkbox]:checked + label > .Course-item > .Course-item-check {
  right: 0;
  transition: all 0.5s;
}

.RestoBanner {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 300px;
  width: 100%;
}
.RestoBanner-image {
  height: 300px;
  width: 100%;
  object-fit: cover;
}
.RestoBanner-nameBox {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 225px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(246, 246, 246);
  border-radius: 25px 25px 0 0;
  align-items: center;
  padding: 0 20px;
}
.RestoBanner-nameBox-name {
  font-family: "Shrikhand", serif;
  font-size: 28px;
}
.RestoBanner-nameBox-like {
  position: absolute;
  right: 30px;
}

.RestoMenu {
  background-color: rgb(246, 246, 246);
  padding: 0 20px 30px 20px;
}
.RestoMenu-course {
  display: flex;
  flex-direction: column;
}
.RestoMenu-course-title {
  position: relative;
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 20px;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.RestoMenu-course-title::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 40px;
  height: 3px;
  background-color: #99e2d0;
}
.RestoMenu-course-list {
  width: 100%;
  margin-bottom: 30px;
}
.RestoMenu-course-list-label {
  opacity: 0;
  transform: translateY(-50%);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.RestoMenu-order {
  width: 100%;
  display: flex;
  justify-content: center;
}

.RestoMenu-course:nth-child(1) .RestoMenu-course-title {
  animation: fadeInFromLeft 0.5s ease-in-out 0s forwards;
}
.RestoMenu-course:nth-child(1) .RestoMenu-course-list-label:nth-child(1) {
  animation: fadeInFromTop 0.5s ease-in-out 0.7s forwards;
}
.RestoMenu-course:nth-child(1) .RestoMenu-course-list-label:nth-child(2) {
  animation: fadeInFromTop 0.5s ease-in-out 0.9s forwards;
}
.RestoMenu-course:nth-child(1) .RestoMenu-course-list-label:nth-child(3) {
  animation: fadeInFromTop 0.5s ease-in-out 1.1s forwards;
}
.RestoMenu-course:nth-child(1) .RestoMenu-course-list-label:nth-child(4) {
  animation: fadeInFromTop 0.5s ease-in-out 1.3s forwards;
}
.RestoMenu-course:nth-child(1) .RestoMenu-course-list-label:nth-child(5) {
  animation: fadeInFromTop 0.5s ease-in-out 1.5s forwards;
}
.RestoMenu-course:nth-child(1) .RestoMenu-course-list-label:nth-child(6) {
  animation: fadeInFromTop 0.5s ease-in-out 1.7s forwards;
}
.RestoMenu-course:nth-child(1) .RestoMenu-course-list-label:nth-child(7) {
  animation: fadeInFromTop 0.5s ease-in-out 1.9s forwards;
}
.RestoMenu-course:nth-child(1) .RestoMenu-course-list-label:nth-child(8) {
  animation: fadeInFromTop 0.5s ease-in-out 2.1s forwards;
}
.RestoMenu-course:nth-child(1) .RestoMenu-course-list-label:nth-child(9) {
  animation: fadeInFromTop 0.5s ease-in-out 2.3s forwards;
}
.RestoMenu-course:nth-child(1) .RestoMenu-course-list-label:nth-child(10) {
  animation: fadeInFromTop 0.5s ease-in-out 2.5s forwards;
}

.RestoMenu-course:nth-child(2) .RestoMenu-course-title {
  animation: fadeInFromLeft 0.5s ease-in-out 2.5s forwards;
}
.RestoMenu-course:nth-child(2) .RestoMenu-course-list-label:nth-child(1) {
  animation: fadeInFromTop 0.5s ease-in-out 3.2s forwards;
}
.RestoMenu-course:nth-child(2) .RestoMenu-course-list-label:nth-child(2) {
  animation: fadeInFromTop 0.5s ease-in-out 3.4s forwards;
}
.RestoMenu-course:nth-child(2) .RestoMenu-course-list-label:nth-child(3) {
  animation: fadeInFromTop 0.5s ease-in-out 3.6s forwards;
}
.RestoMenu-course:nth-child(2) .RestoMenu-course-list-label:nth-child(4) {
  animation: fadeInFromTop 0.5s ease-in-out 3.8s forwards;
}
.RestoMenu-course:nth-child(2) .RestoMenu-course-list-label:nth-child(5) {
  animation: fadeInFromTop 0.5s ease-in-out 4s forwards;
}
.RestoMenu-course:nth-child(2) .RestoMenu-course-list-label:nth-child(6) {
  animation: fadeInFromTop 0.5s ease-in-out 4.2s forwards;
}
.RestoMenu-course:nth-child(2) .RestoMenu-course-list-label:nth-child(7) {
  animation: fadeInFromTop 0.5s ease-in-out 4.4s forwards;
}
.RestoMenu-course:nth-child(2) .RestoMenu-course-list-label:nth-child(8) {
  animation: fadeInFromTop 0.5s ease-in-out 4.6s forwards;
}
.RestoMenu-course:nth-child(2) .RestoMenu-course-list-label:nth-child(9) {
  animation: fadeInFromTop 0.5s ease-in-out 4.8s forwards;
}
.RestoMenu-course:nth-child(2) .RestoMenu-course-list-label:nth-child(10) {
  animation: fadeInFromTop 0.5s ease-in-out 5s forwards;
}

.RestoMenu-course:nth-child(3) .RestoMenu-course-title {
  animation: fadeInFromLeft 0.5s ease-in-out 5s forwards;
}
.RestoMenu-course:nth-child(3) .RestoMenu-course-list-label:nth-child(1) {
  animation: fadeInFromTop 0.5s ease-in-out 5.7s forwards;
}
.RestoMenu-course:nth-child(3) .RestoMenu-course-list-label:nth-child(2) {
  animation: fadeInFromTop 0.5s ease-in-out 5.9s forwards;
}
.RestoMenu-course:nth-child(3) .RestoMenu-course-list-label:nth-child(3) {
  animation: fadeInFromTop 0.5s ease-in-out 6.1s forwards;
}
.RestoMenu-course:nth-child(3) .RestoMenu-course-list-label:nth-child(4) {
  animation: fadeInFromTop 0.5s ease-in-out 6.3s forwards;
}
.RestoMenu-course:nth-child(3) .RestoMenu-course-list-label:nth-child(5) {
  animation: fadeInFromTop 0.5s ease-in-out 6.5s forwards;
}
.RestoMenu-course:nth-child(3) .RestoMenu-course-list-label:nth-child(6) {
  animation: fadeInFromTop 0.5s ease-in-out 6.7s forwards;
}
.RestoMenu-course:nth-child(3) .RestoMenu-course-list-label:nth-child(7) {
  animation: fadeInFromTop 0.5s ease-in-out 6.9s forwards;
}
.RestoMenu-course:nth-child(3) .RestoMenu-course-list-label:nth-child(8) {
  animation: fadeInFromTop 0.5s ease-in-out 7.1s forwards;
}
.RestoMenu-course:nth-child(3) .RestoMenu-course-list-label:nth-child(9) {
  animation: fadeInFromTop 0.5s ease-in-out 7.3s forwards;
}
.RestoMenu-course:nth-child(3) .RestoMenu-course-list-label:nth-child(10) {
  animation: fadeInFromTop 0.5s ease-in-out 7.5s forwards;
}

.RestoMenu-course:nth-child(4) .RestoMenu-course-title {
  animation: fadeInFromLeft 0.5s ease-in-out 7.5s forwards;
}
.RestoMenu-course:nth-child(4) .RestoMenu-course-list-label:nth-child(1) {
  animation: fadeInFromTop 0.5s ease-in-out 8.2s forwards;
}
.RestoMenu-course:nth-child(4) .RestoMenu-course-list-label:nth-child(2) {
  animation: fadeInFromTop 0.5s ease-in-out 8.4s forwards;
}
.RestoMenu-course:nth-child(4) .RestoMenu-course-list-label:nth-child(3) {
  animation: fadeInFromTop 0.5s ease-in-out 8.6s forwards;
}
.RestoMenu-course:nth-child(4) .RestoMenu-course-list-label:nth-child(4) {
  animation: fadeInFromTop 0.5s ease-in-out 8.8s forwards;
}
.RestoMenu-course:nth-child(4) .RestoMenu-course-list-label:nth-child(5) {
  animation: fadeInFromTop 0.5s ease-in-out 9s forwards;
}
.RestoMenu-course:nth-child(4) .RestoMenu-course-list-label:nth-child(6) {
  animation: fadeInFromTop 0.5s ease-in-out 9.2s forwards;
}
.RestoMenu-course:nth-child(4) .RestoMenu-course-list-label:nth-child(7) {
  animation: fadeInFromTop 0.5s ease-in-out 9.4s forwards;
}
.RestoMenu-course:nth-child(4) .RestoMenu-course-list-label:nth-child(8) {
  animation: fadeInFromTop 0.5s ease-in-out 9.6s forwards;
}
.RestoMenu-course:nth-child(4) .RestoMenu-course-list-label:nth-child(9) {
  animation: fadeInFromTop 0.5s ease-in-out 9.8s forwards;
}
.RestoMenu-course:nth-child(4) .RestoMenu-course-list-label:nth-child(10) {
  animation: fadeInFromTop 0.5s ease-in-out 10s forwards;
}

@keyframes fadeInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fadeInFromTop {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.BigBtn > a {
  font-weight: 500;
  font-size: 16px;
  color: white;
  width: fit-content;
  padding: 15px;
  border-radius: 30px;
  background: linear-gradient(to top, #9356dc -11.44%, #ff79da 123.93%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.BigBtn > a:hover {
  background: linear-gradient(to top, #ae80e5 -5.2%, #ff79da 110.74%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  justify-content: center;
  align-items: start;
  padding: 20px;
  background-color: rgb(53, 53, 53);
  color: white;
  gap: 20px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}
.footer-list-line {
  display: flex;
  width: 100%;
}
.footer-list-line-icon {
  display: inline-block;
  width: 30px;
}
.footer-list-line-item {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
}

.bold {
  font-weight: 500;
}
