.Like > input {
  position: absolute;
  top: -11px;
  left: -11px;
  width: 0;
  height: 0;
}
.Like > input:before {
  content: url("../../images/buttons/like-unchecked.png");
}
.Like > input:checked:before {
  content: url("../../images/buttons/like-checked.png");
}
