.Like {
  position: relative;
  width: 22px;
  height: 21px;
}
.Like img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.Like > input {
  width: 0;
  height: 0;
}
.Like > input:not(:checked) + .Like-button img:first-child {
  opacity: 1;
}
.Like > input:checked + .Like-button img:nth-child(2), .Like > input:hover + .Like-button img:nth-child(2) {
  opacity: 1;
}
.Like-hiddenInput {
  height: 0;
  width: 0;
}
