.BigBtn {
  & > a {
    color: $white;
    font-weight: 500;
    font-size: 16px;
    width: fit-content;
    padding: 15px;
    border-radius: 30px;
    background: $buttonGradient;
    box-shadow: $shadowInstructions;
    &:hover {
      background: $buttonGradienthover;
      box-shadow: $shadowButton;
    }
  }
}
