.BigBtn {
  & > a {
    @include typo(500, 16);
    color: $white;
    width: fit-content;
    padding: 15px;
    border-radius: 30px;
    background: $buttonGradient;
    box-shadow: $shadowInstructions;
    &:hover {
      background: $buttonGradienthover;
      box-shadow: $shadowButton;
    }
  }
}
