.Like {
  position: relative;
  width: 22px;
  height: 21px;
  & img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  & > input {
    width: 0;
    height: 0;
    &:not(:checked) + .Like-button img:first-child {
      opacity: 1;
    }
    &:checked + .Like-button img:nth-child(2),
    &:hover + .Like-button img:nth-child(2) {
      opacity: 1;
    }
  }
}
