.Introduction {
  @include flexCol;
  text-align: center;
  &-location {
    background-color: $grey2;
    padding: 15px;
    box-shadow: $shadowButton;
    z-index: 1;
    &-icon {
      display: inline-block;
      width: 30px;
    }
    &-input {
      width: 110px;
      border: none;
      background-color: unset;
      @include typo(500, 16);
    }
  }
  &-cta {
    @include flexCol;
    background-color: $background;
    padding: 30px 30px 40px 30px;
    gap: 15px;
    &-title {
      @include typo(700, 24);
      padding: 0 20px;
    }
    &-desc {
      @include typo(300, 18);
    }
    &-box {
      display: flex;
      justify-content: center;
      margin: 20px;
    }
  }
  &-tutorial {
    background-color: $white;
    @include flexRow;
    margin: 30px 15px 45px 15px;
    flex-wrap: wrap;
    align-self: center;
    width: unset;
    max-width: 1000px;
    &-title {
      text-align: start;
      width: 100%;
      @include typo(700, 24);
      margin-bottom: 20px;
    }
    &-stepCard {
      margin: 0 0 20px 12px;
      width: 100%;
      box-shadow: $shadowInstructions;
    }
  }
}

///////////////////////////////////////////////////////////////
/////////////////////// BREAKPOINTS ///////////////////////////
///////////////////////////////////////////////////////////////

@media screen and (min-width: $breakpoint_tablet_M) {
  .Introduction-tutorial {
    margin: 0 10vw 45px 10vw;
  }
}
@media screen and (min-width: $breakpoint_desktop) {
  .Introduction-tutorial {
    width: calc(100% - 30px);
    margin: 30px 15px 45px 15px;
    justify-content: space-between;
    &-stepCard {
      width: auto;
    }
  }
}
