.Introduction {
  display: flex;
  flex-direction: column;
  text-align: center;
  &-location {
    background-color: $grey2;
    padding: 15px;
    box-shadow: $shadowButton;
    z-index: 1;
    &-icon {
      display: inline-block;
      width: 30px;
    }
    &-input {
      width: 110px;
      border: none;
      background-color: unset;
      font-weight: 500;
      font-size: 16px;
    }
  }
  &-cta {
    background-color: $background;
    padding: 30px 30px 40px 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    &-title {
      padding: 0 20px;
      font-weight: 700;
      font-size: 24px;
    }
    &-desc {
      font-weight: 300;
      font-size: 18px;
    }
    &-box {
      display: flex;
      justify-content: center;
      margin: 20px;
    }
  }
  &-tutorial {
    background-color: $white;
    display: flex;
    flex-direction: row;
    margin: 30px 15px 45px 15px;
    flex-wrap: wrap;
    justify-content: flex-end;
    &-title {
      text-align: start;
      width: 100%;
      font-weight: 700;
      font-size: 24px;
      margin-bottom: 20px;
    }
    &-stepCard {
      margin: 0 0 20px 12px;
      width: 100%;
      box-shadow: $shadowInstructions;
    }
  }
}

.StepCard {
  padding: 20px;
  border-radius: 10px;
  background-color: $grey2;
  display: flex;
  position: relative;
  flex-direction: row;
  &-number {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 100%;
    background: $primary;
    color: $white;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -12px;
  }
  &-icon {
    width: 40px;
  }
  &-step {
    font-weight: 500;
    font-size: 16px;
  }
}
