.RestaurantsList {
  @include flexCol;
  gap: 20px;
  padding: 45px 15px;
  background-color: $background;
  &-title {
    @include typo(700, 24);
  }
  &-item {
    @include flexCol;
    background-color: $white;
    border-radius: 20px;
    height: 250px;
  }
}
