.RestaurantsList {
  max-width: 1000px;
  margin: 0 15px 30px 15px;
  @include flexCol;
  justify-content: unset;
  &-title {
    margin-top: 20px;
    @include typo(700, 24);
    width: 100%;
  }
  &-item {
    @include flexCol;
    background-color: $white;
    border-radius: 20px;
    height: 250px;
    max-width: unset;
  }
  &::before {
    content: "";
    background-color: $background;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -50vw;
    right: -50vw;
  }
}

///////////////////////////////////////////////////////////////
/////////////////////// BREAKPOINTS ///////////////////////////
///////////////////////////////////////////////////////////////

@media screen and (min-width: $breakpoint_tablet_M) {
  .RestaurantsList {
    margin: 0 10vw 45px 10vw;
  }
}

@media screen and (min-width: $breakpoint_desktop) {
  .RestaurantsList {
    margin: 0 15px 45px 15px;
    @include flexRow;
    justify-content: space-between;
    align-self: center;
    flex-wrap: wrap;
    &-title {
      width: 100%;
    }
    &-item {
      width: 47%;
    }
  }
}
