footer {
  @include flexCol;
  margin-top: auto;
  justify-content: center;
  align-items: start;
  padding: 20px;
  background-color: $grey;
  color: $white;
  gap: 20px;
}

.footer-list {
  @include flexCol;
  justify-content: start;
  align-items: start;
  &-block {
    @include flexCol;
    &-item {
      @include typo(400, 16);
      margin-bottom: 4px;
      display: flex;
      width: 100%;
    }
  }
}

.bold {
  font-weight: 500;
}
.icon {
  display: inline-block;
  width: 30px;
  height: 16px;
}

///////////////////////////////////////////////////////////////
/////////////////////// BREAKPOINTS ///////////////////////////
///////////////////////////////////////////////////////////////

@media screen and (min-width: $breakpoint_desktop) {
  footer {
    @include flexRow;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: end;
    .footer-list {
      @include flexRow;
      &-block {
        @include flexRow;
        gap: 15px;
        margin-left: 40px;
        &-item {
          width: auto;
        }
      }
    }
    > img {
      margin: 20px 20px 5px 30px;
    }
  }
  .icon {
    width: 25px;
  }
}
