header {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: $shadowBadge;
  z-index: 2;
}

.nav {
  position: absolute;
  top: 25px;
  left: 25px;
  color: black;
}
