.RestoBanner {
  @include flexCol;
  position: relative;
  height: 300px;
  width: 100%;
  &-image {
    height: 300px;
    width: 100%;
    object-fit: cover;
  }
  &-nameBox {
    @include flexRow;
    position: absolute;
    top: 225px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $background;
    border-radius: 25px 25px 0 0;
    align-items: center;
    padding: 0 20px;
    &-name {
      font-family: $titleFont;
      font-size: 28px;
    }
    &-like {
      position: absolute;
      right: 30px;
    }
  }
}

.RestoMenu {
  background-color: $background;
  padding: 0 20px 30px 20px;
  &-course {
    @include flexCol;
    &-title {
      position: relative;
      @include typo(300, 16);
      margin-bottom: 20px;
      transform: translateX(-100%);
      opacity: 0;
      transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    }
    &-title::after {
      content: "";
      display: block;
      position: absolute;
      bottom: -7px;
      left: 0;
      width: 40px;
      height: 3px;
      background-color: $green;
    }
    &-list {
      width: 100%;
      margin-bottom: 30px;
      &-label {
        opacity: 0;
        transform: translateY(-50%);
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
      }
    }
  }
  &-order {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

///////////////////////////////////////////////////////////////
//////////////////////// ANIMATIONS ///////////////////////////
///////////////////////////////////////////////////////////////

// Loop for course titles (outerloop)
@for $i from 1 through 4 {
  .RestoMenu-course:nth-child(#{$i}) {
    .RestoMenu-course-title {
      animation: fadeInFromLeft 0.5s ease-in-out ($i * 2.5s - 2.5s) forwards;
    }
    // Loop for options of current course (innerloop)
    @for $j from 1 through 10 {
      .RestoMenu-course-list-label:nth-child(#{$j}) {
        animation: fadeInFromTop
          0.5s
          ease-in-out
          ($i * 2.5s - 2s + $j * 0.2s)
          forwards;
      }
    }
  }
}

@keyframes fadeInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fadeInFromTop {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
