@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Shrikhand&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: unset;
}

.wrapper {
  @include flexCol;
  font-family: $textFont;
  height: 100vh;
  position: relative;
}

main {
  display: flex;
  flex-direction: column;
}

.logo {
  margin: 20px 0 10px 0;
  width: 200px;
  &-small {
    width: 100px;
  }
}
