.Course {
  @include flexCol;
  gap: 10px;
  &-item {
    @include flexRow;
    transition: all 0.5s;
    position: relative;
    padding: 8px 10px;
    background-color: $white;
    border-radius: 10px;
    box-shadow: $shadowCard;
    overflow: hidden;
    justify-content: space-between;
    opacity: 0;
    &-label {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 20;
      opacity: 0;
      transform: translateY(0);
      transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    }
    &-texts {
      white-space: nowrap;
      overflow: hidden;
      &-title {
        @include typo(500, 18);
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 2px 0;
      }
      &-desc {
        @include typo(300, 15);
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 2px 0;
      }
    }
    &-price {
      @include typo(700, 15);
      padding: 2px;
      display: flex;
      align-items: end;
    }
    &-check {
      @include centeredXY;
      transition: all 0.5s;
      display: flex;
      position: absolute;
      width: 60px;
      background-color: $green;
      top: 0;
      bottom: 0;
      right: -60px;
      align-items: center;
    }
  }
  & > input {
    display: none;
  }
  & > input[type="checkbox"]:checked + .Course-item,
  :hover {
    padding-right: 70px;
    transition: all 0.5s;
    .Course-item-check {
      right: 0;
      transition: all 0.5s;
    }
  }
}

@for $j from 1 through 4 {
  @for $k from 1 through 10 {
    .RestoMenu-course:nth-child(#{$j}) {
      .Course-item:nth-child(#{$k}) {
        animation: fadeInFromTop
          0.5s
          ease-in-out
          ($j * 2.5s - 2s + $k * 0.2s)
          forwards;
      }
    }
  }
}

@keyframes fadeInFromTop {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
