.Course {
  @include flexCol;
  gap: 10px;
  &-item {
    @include flexRow;
    transition: all 0.5s;
    position: relative;
    padding: 8px 10px;
    background-color: $white;
    border-radius: 10px;
    box-shadow: $shadowCard;
    overflow: hidden;
    justify-content: space-between;
    &-texts {
      white-space: nowrap;
      overflow: hidden;
      &-title {
        @include typo(500, 18);
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 2px 0;
      }
      &-desc {
        @include typo(300, 15);
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 2px 0;
      }
    }
    &-price {
      @include typo(700, 15);
      padding: 2px;
      display: flex;
      align-items: end;
    }
    &-check {
      @include centeredXY;
      transition: all 0.5s;
      display: flex;
      position: absolute;
      width: 60px;
      background-color: $green;
      top: 0;
      bottom: 0;
      right: -60px;
      align-items: center;
    }
  }
  & > input {
    display: none;
  }

  & > input[type="checkbox"]:checked + label {
    & > .Course-item {
      padding-right: 70px;
      transition: all 0.5s;
      & > .Course-item-check {
        right: 0;
        transition: all 0.5s;
      }
    }
  }
}
