///////////////////////////////////////////////////////////////
////////////////////////// FONTS //////////////////////////////
///////////////////////////////////////////////////////////////

$textFont: "Roboto", sans-serif;
$titleFont: "Shrikhand", serif;

///////////////////////////////////////////////////////////////
////////////////////////// COLORS /////////////////////////////
///////////////////////////////////////////////////////////////

$grey: rgba(53, 53, 53, 1);
$grey2: rgba(234, 234, 234, 1);
$white: white;
$background: rgba(246, 246, 246, 1);
$buttonGradient: linear-gradient(to top, #9356dc -11.44%, #ff79da 123.93%);
$primary: rgba(147, 86, 220, 1);
$greyTint: rgba(126, 126, 126, 1);

///////////////////////////////////////////////////////////////
///////////////////////// EFFECTS /////////////////////////////
///////////////////////////////////////////////////////////////

$shadowBadge: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
$shadowInstructions: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
$shadowButton: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
$shadowCard: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
